NEXT_PUBLIC_SUPABASE_URL=https://qchiajlntbefdpxuxbko.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaGlhamxudGJlZmRweHV4YmtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MzI3OTcsImV4cCI6MjA4NzAwODc5N30.Afl2q9hE9T2sJPTqSU6Bh-MnFALSCsK35b4JgTAXK_I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaGlhamxudGJlZmRweHV4YmtvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQzMjc5NywiZXhwIjoyMDg3MDA4Nzk3fQ.e8XFO0H7eDPvR6LwhEz4sOWgHHOTx81-sofQRlz_4Es
TELEGRAM_BOT_TOKEN=8552875252:AAFY5dwvGEfketWtiRwnbgMWfpsjBMh9GEk
TELEGRAM_ADMIN_ID=7203124812
INTERNAL_API_SECRET=your_random_secret_here
